<nav ngClass="navbar">
    <ul ngClass="navbar__list" >
        <li ngClass="navbar__items">
            <a href="" ngClass="navbar__links">
                <img src="../../../../assets/icons/home-alt2.svg" alt="home button">
            </a>
        </li>
        <li ngClass="navbar__items">
            <a href="" ngClass="navbar__links" routerLink="/visio">
                <img src="../../../../assets/icons/film.svg" alt="visio button">
            </a>
        </li>
        <li ngClass="navbar__items">
            <a href="" ngClass="navbar__links" routerLink="/sources">
                <img src="../../../../assets/icons/tv.svg" alt="sources button">
            </a>
        </li>
        <li ngClass="navbar__items">
            <a href="" ngClass="navbar__links" routerLink="/lights">
                <img src="../../../../assets/icons/lightbulb.svg" alt="lights button">
            </a>
        </li>
    </ul>
    <button ngClass="navbar__links power">
        <img src="../../../../assets/icons/power.svg" alt="power button">
    </button>
</nav>